<% provide(:title, 'About') %>
<div id = "aboutContainer">
<br>
<h1>Welcome to RedSky Vinyl Store!</h1>
<br>
<div id = "aboutText">
<p>It's one among the Ireland's leading collectable vinyl record and cd on line stores.</p>
<p>We area an organization of enthusiastic record traders displaying our large choice of brand new pressing vinyl records on-line.</p>
<p>We've got thousands of rare records across all conceivable genres, we do not focus on one or another genre of music however we've got choices altogether possible genres available: from rock  to punk, metal, reggae, indie, 60s, soul, post punk, techno, house, new wave, classical, industrial, leftfield,  post rock and plenty of more, we also  tend to  specialise for rock group, Stones, Queen, Pink Floyd Beatles too.</p>
<p>You can chat with our staff to offer you advise and help in all your musical needs, their committed knowledge and understanding of their specialist areas is accessible in our Contact us section in the site.</p>
</div> 
</div> 
