<div class="lowerPanel">

  
  <h1>You looked for these items</h1>
  
  <% if @items.length ==0 %>
  <h2>There are currently no items in this category</h2>
  <% end %>
  
  <% @items.each do |item| %>
  <div class="itemhols">
    <h1><%= item.title %></h1>
    <%= image_tag item.image, :class=>"itemholsIm" %>
    <p>This item is in the category<%= item.genre %></p>
    
    
  </div>
  
  <% end %>
  
</div>