<% provide(:title, 'Edit Your Details') %>

<div class = "showEditPanel">

<h1>Edit Profile</h1>
<p>Hello <%= current_user.email %></p>

<%= link_to "View My Orders", orders_path, :class => "adminButton", :role => "button" %>


</div>
