<% provide(:title, 'Home') %>
<div class="mainPanel">
  
  <div class = "mainOverlay">
		
		<div class = "mainOverlayText">
			
			RED<br> SKY<br> VINYL
		
		</div>
		
	</div>
  

</div>

 

<br><br><br>

<div class = "lowerPanel">

  <%= render 'layouts/categories' %>

    
</div>
