<% provide(:title, 'Home') %>
<div class="mainCont">
  
  <%= image_tag("redsky.jpg", alt: "Welcome Image", :class => "welcomeIm") %>
  
<h1>Home</h1>
<p>Welcome to RedSky Vinyl Store</p>
<hr>
<%= render 'layouts/categories' %>

</div>


<div class = "mainCont">
    <h2>Search</h2>
    <%= render 'layouts/search' %>
    
</div>
