<% provide(:title, 'Order Complete') %>

<div class = "showEditPanel">
    <br>
    <h1>Thank you for your order...</h1>
    <br> <br> <br> <br> <hr> <br>
    
    <!-- render the topSellers partial -->
    
     <%= render 'layouts/topSellers' %>
     

    
</div>