<% provide(:title, 'Order Complete') %>

<div class = "showEditPanel">
    <h1>Thank You</h1>
    
    <!-- render the topSellers partial -->
    
     <%= render 'layouts/topSellers' %>
     

    
</div>