<div class = "showEditPanel">
    <h1>Update Item</h1>

    <%= render 'form', item: @item %>
    <br><br>
    <%= link_to 'Show', @item %> |
    <%= link_to 'Back', items_path %>
    <br><br>

</div>
