.navBar{
	top: 0;
	width: 100%;
	height : 50px;
	background-color: #0d0d0d;
	display: flex;
	justify-content: center;
	z-index: 2;
	
}

.searchBar{
	width: 100%;
	height : 55px;
	text-align: right;
	background-color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font: #0d0d0d;
}


#topMenuItems {
	font-family: Roboto;
	color: #fafafa;
	display: inline-block;	
	margin-left:50px;
	margin-right: 50px;
	margin-top: 14px;
	float:left;
}


#lowerMenuItems {
    font-family: Roboto;
	color: #0d0d0d;
	display: inline-block;	
	margin-left:10px;
	margin-right: 10px;
	margin-top: 16px;
	float:left;
}



.mainPanel{
	background-image: url("shopbg.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
}


.mainOverlay {
    max-width: 60%; 
    height: 525px;
    background-color: rgba(200, 14, 35 ,0.6);
}


.mainOverlayText{
	font-size: 135px;
	font-family: Play;
	color: #fafafa;
	opacity: 0.9;
	top: 30px;
	left: 50px;
	position: relative;
	
}


.lowerPanel{
  margin: auto;
  max-width: 100%;
  font-family:Roboto;
  text-align: center;
}


/*item holder section */

.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;
}


.itemhols h1 {
   display: block;
    color: #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
}

.itemholsIm {
    width: 70%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}





#topMenuItems a{   
    color: #fafafa;
	text-decoration: none;
}

#topMenuItems a:link {
    text-decoration: none;
	color: #fafafa;
}


#topMenuItems a:visited {
    text-decoration: none;
	color: #fafafa;
}


#topMenuItems a:hover {
	text-decoration: none;
	color: #888;
}	



#lowerMenuItems a {
	text-decoration: none;
	color: #0d0d0d;
	font-size: 15px;
}

#lowerMenuItems a:link {
    text-decoration: none;

}


#lowerMenuItems a:visited {
    text-decoration: none;
	color: #0d0d0d;
}


#lowerMenuItems a:hover {
	text-decoration: none;
	color: #888;
}



.button{
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #0d0d0d;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #C80E23;
    color: white;
    border: 2px solid #fafafa;
}



input[type=text] {
    width: 170px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    font-color: #ccc;
    background-color: white;
    background-image: url("searchicon.png");
    background-position: 1px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 5px;

}

input[type=text]:focus {
    width: 30%;
}


/* hide submit button */

input[type=submit] {
	position: absolute;
	height: 0px;
	width: 0px;
	border: none;
	padding: 0px;
	visibility:none;
}
