/* top black nav bar */

.navBar{
	top: 0;
	width: 100%;
	height : 50px;
	background-color: #0d0d0d;
	display: flex;
	justify-content: center;
	z-index: 2;
	
}

/* title bar with login and search box */

.searchBar{
	width: 100%;
	height : 55px;
	text-align: right;
	background-color: #ffffff;
	font-family: Roboto;
	font-size: 15px;
	font: #0d0d0d;
}


/* styling for the menu items / text in the top black nav bar */

#topMenuItems {
	font-family: Roboto;
	color: #fafafa;
	display: inline-block;	
	margin-left:50px;
	margin-right: 50px;
	margin-top: 14px;
	float:left;
}

/* styling for the menu items / text in the second white nav bar */

#lowerMenuItems {
    font-family: Roboto;
	color: #0d0d0d;
	display: inline-block;	
	margin-left:10px;
	margin-right: 10px;
	margin-top: 16px;
	float:left;
}


/* main panel on the homepage with the background image */

.mainPanel{
	background-image: url("shopbg.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
}


/* panel with transparent red block overlaying half of the mainPanel */

.mainOverlay {
    max-width: 60%; 
    height: 525px;
    background-color: rgba(200, 14, 35 ,0.6);
}


/* panel to hold RED SKY VINYL white text, overlaying the red transparent panel */

.mainOverlayText{
	font-size: 135px;
	font-family: Play;
	color: #fafafa;
	opacity: 0.9;
	top: 30px;
	left: 50px;
	position: relative;
	
}

/* panel to hold lower half of homepage and all other pages */

.lowerPanel{
  margin: auto;
  max-width: 100%;
  font-family:Roboto;
  text-align: center;
}


.showEditPanel{
    margin: auto;
    max-width: 100%;
    font-family:Roboto;
    text-align: left;
    
    
}


/*item holder section */

.itemhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;
}


.itemhols h1 {
   display: block;
    color: #080808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
}

.itemholsIm {
    width: 70%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}



/* style links for menu items in top black bar */


#topMenuItems a{   
    color: #fafafa;
	text-decoration: none;
}

#topMenuItems a:link {
    text-decoration: none;
	color: #fafafa;
}


#topMenuItems a:visited {
    text-decoration: none;
	color: #fafafa;
}


#topMenuItems a:hover {
	text-decoration: none;
	color: #888;
}	


/* style links for menu items in second white bar */


#lowerMenuItems a {
	text-decoration: none;
	color: #0d0d0d;
	font-size: 15px;
}

#lowerMenuItems a:link {
    text-decoration: none;

}


#lowerMenuItems a:visited {
    text-decoration: none;
	color: #0d0d0d;
}


#lowerMenuItems a:hover {
	text-decoration: none;
	color: #888;
}


/* style regular buttons */

.button{
    background-color: white;
    color: #0d0d0d;
    border: 2px solid #0d0d0d;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #0d0d0d;
    color: white;
    border: 2px solid #fafafa;
}


/* style buttons that are only visible to admin */

.adminButton{

    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
}


.adminButton:hover{
    color: #888;
}


.adminPanelButton{
 
    color: #fafafa;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 28px;
    
}


.adminPanelButton:hover{
    color: #888;
}



/* style main search box */

.searchBar input[type=text] {
    width: 170px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    font-color: #ccc;
    background-color: white;
    background-image: url("searchicon.png");
    background-position: 1px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top: 5px;

}

.searchBar input[type=text]:focus {
    width: 30%;
}





/* hide the submit button on the searchBar */

.searchBar input[type=submit] {
	position: absolute;
	height: 0px;
	width: 0px;
	border: none;
	padding: 0px;
	visibility:none;
}



/* style the submit button that appears on other forms */

.lowerPanel input[type=submit] {
	width: 30%;
	display: flex;
	justify-content: center;

}



input[type=text] {
    font-family: Roboto;
    font-size: 15px;
    border: 2px solid #383838;
    border-radius: 2px;
	width: 300px;
	padding: 5px;
	margin-left: 50px;
}



select {
    font-family: Roboto;
    font-size: 15px;
	border: 2px solid #383838;
	width: 100px;
}


textarea {
    font-family: Roboto;
    color: fafafa;
    font-size: 15px;
	width: 300px;
	height: 100px;
	padding: 5px;
	border: 2px solid #383838;
	margin-left: 50px;

}

input[type=submit] {
    font: Roboto;
    font-size: 15px;
	width: 315px;
	display: flex;
	justify-content: center;
	padding: 5px; 
    background: #ffffff; 
    border: 2px solid #0d0d0d ;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-left: 50px

}

input[type=submit]:hover {
    
    background: #888;
    font-color: #fafafa;
    
}




/* style for footer div */

.footer {
    
    padding: 10px;
    background-color: #0d0d0d;
    text-align: center;
    font-family: Roboto;

}

.field {
	text-align: right;
	font-family: Roboto;
	font-size: 20px;
    
}


#hideThis{
    display: none;
    
}


#customers{
    text-align: center;
    border-spacing: 20px;
    
}

h1, h2, h4, h5 {
    font-family: Roboto;
    text-align: center;
    color: #fafafa;
}

.Form {
	font-family: Roboto;
	text-align: center;
}

#aboutText {
    font-family: Roboto;
    text-align: justify;
    font-size: 22px;
    font-weight: bold;
    padding: 30px;
    color:  #fafafa;
}

/* book/ form page specific styles for desktop*/

#contactTable {

	width: 50%;
	margin: auto;
	color: white;
}

#inputMessage {
	height: 100px;
}

input[type=text] {
	border: 2px solid #383838;
	border-radius: 4px;
	width: 70%;
}

select {
	border: 2px solid #383838;
	width: 80%;
}

textarea {
	width: 50%;
	height: 100px;
}

input[type=submit] {
	font-family: Roboto;
	width: 30%;
	justify-content: center;
	padding: 5px;
	border: 2px solid #0d0d0d;
	border-radius: 4px;
	margin-left: 115px;
}

input[type=submit]:hover {

	background: #888;
	font-color: #fafafa;
}


#aboutContainer {
    background-image: url("about.jpg");
	background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
}

#contactContainer {
    background-image: url("contact.jpg");
	background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
}

