<h1>Popular Genres</h1>
<br>

<% @categories.each do |category| %>

<div class="itemhols">

  <h1><%= category.title %></h1>
  <%= image_tag category.image, :class=>"itemholsIm" %>
  <p><%= category.description %></p>
  <p><a href="/category/<%= category.title %>" class="button">View More...</a></p>
  
</div>

<% end %>