<div class="footer">
    
    
    <h5>RedSky Vinyl, your source for great records since 2001.</h5>
    <h4>5.594.213 records listed in our catalogue.</h4>
    
    <!-- Check user is logged in -->
    <% if user_signed_in? %>
    
    
    
        <!-- Check if the current user is an admin user. Only display option to add new item if yes -->
    
        <% if current_user.admin? %>
        
        You're an admin!&emsp;&emsp;

        <%= link_to 'Add a new record to stock', new_item_path, :class =>"adminPanelButton", :role =>"button" %> | 
        
        <%= link_to 'Add a new genre', new_category_path, :class =>"adminPanelButton", :role =>"button" %> |
        
        <%= link_to "View All Orders", orders_path, :class => "adminPanelButton", :role => "button" %>
        
        <% end %>
        
            
    <% end %>
    
    

</div>