<br>
<h1>Recent Purchases</h1>
<br>

 
<% @recentPurchases.each do |orderitem| %>

<div class="itemhols">

    <h1><%= orderitem.artist %></h1>
    <h1><%= orderitem.title %></h1>
  
  
</div>

<% end %>

  





